update_w3mmd_elo
update_dota_elo
.exe
*.exe
*.o
*.so
ghost++
ghost.cfg
ghost/ghost++
ghost.log
ghost.dbs
.obj
Release Mysql/
Release/
.vs/
*.htm
*.sdf
*.opendb
*.pdb
*.idb
*.iobj
*.ipdb
Backup/
Debug/
/ghost.VC.db
/ipch/STORMLIB_VS15-7c58fc56/STORMLIBRUS-96410536.ipch
MapConfigData.VC.db
GeneratedFiles/
/MapConfigData/uislots.cpp~RF1dc8ba7b.TMP
